@media (max-width: 320px) {
  .employee {
    padding: 1em;
  }

  .emp-name {
    font-size: 1rem;
  }

  .mis-describe {
    padding: 0 0 20px 0 !important;
  }

  .vis-describe {
    padding: 0 0 20px 0 !important;
  }

  .ourstory-describe {
    padding: 0 0 20px 0 !important;
  }

  .whynft-describe {
    padding: 0 0 20px 0 !important;
  }

  #OS {
    width: 10rem !important;
    height: 10rem !important;
  }

  #WNFT {
    width: 10rem !important;
    height: 10rem !important;
  }
}

@media (max-width: 599px) {
  #OS {
    width: 15rem;
    height: 15rem;
  }

  #WNFT {
    width: 15rem;
    height: 15rem;
  }

  .ourstory-describe {
    padding: 0 0 20px 0 !important;
  }

  .whynft-describe {
    padding: 0 0 20px 0 !important;
  }
}

@media (max-width: 600px) {
  .mis-describe {
    padding: 0 0 20px 0 !important;
  }

  .vis-describe {
    padding: 0 0 20px 0 !important;
  }

  .acc-stats {
    align-items: center;
  }
  #OS {
    width: 15rem;
    height: 15rem;
  }

  #WNFT {
    width: 15rem;
    height: 15rem;
  }

  .ourstory-describe {
    padding: 0 0 20px 0 !important;
  }

  .whynft-describe {
    padding: 0 0 20px 0 !important;
  }
}

@media (min-width: 601px) {
  /* .mainaboutus {
    font-size: 2rem !important;
  } */

  .visionmission {
    flex-direction: row;
    display: flex;
  }

  .vision-container {
    padding: 0.5rem;
  }

  .mission-container {
    padding: 0.5rem;
  }

  .vis-name {
    padding-top: 0 !important;
  }

  .vis-describe {
    padding: 0 0 20px 0 !important;
  }

  .mis-describe {
    padding: 0 0 20px 0 !important;
  }

  .acc-stats {
    margin: auto;
  }

  .accstat-column {
    flex-direction: row;
    display: flex;
  }

  .accstat-box {
    width: auto;
  }

  .ourstory-logo {
    flex-direction: row-reverse;
    display: flex;
  }
  .ourstory-header {
    margin: auto;
    padding: 2em;
  }

  #OS {
    /* max-width: 60% !important;
    max-height: 60% !important; */
    display: grid;
    margin: auto !important;
    width: 25rem !important;
  }

  .ourstory-describe {
    padding: 0 0 20px 0 !important;
  }

  .nft-logo {
    flex-direction: row;
    display: flex;
  }

  .whynft-header {
    margin: auto;
    padding: 2em;
  }

  #WNFT {
    /* max-width: 60% !important;
    max-height: 60% !important; */
    display: grid;
    margin: auto !important;
    width: 25rem !important;
  }

  .whynft-describe {
    padding: 0 0 20px 0 !important;
  }
  .employee-title {
    font-size: 40px !important;
  }

  #emp-img {
    flex-direction: row;
    /* display: flex; */
    margin: auto !important;
    width: 50rem !important;
  }

  .employee {
    padding: 2rem;
  }
}

@media (max-width: 845px) {
  .main-vismis {
    padding-top: 4rem !important;
  }
}

.mainaboutus {
  overflow: hidden;
}

.main-vismis {
  text-align: center;
  /* display: flex; */
  color: #fff;
  background-color: #cb2d6f;
  padding: 7rem 3rem 3rem 3rem;
}

.aboutus-name {
  font-size: 30px !important;
  padding-top: 20px;
  font-family: Sora !important;
  font-weight: 600 !important;
}

.rectangle4 {
  display: flex;
  width: 60px;
  height: 10px;
  color: #cb2d6f;
  background-color: #235c76;
  margin: auto;
  border-radius: 30px;
}

.vis-name {
  padding-top: 20px;
}

.vis-describe {
  font-weight: 300;
  padding: 0 10rem 20px 10rem;
}

.mis-describe {
  font-weight: 300;
  padding: 0 10rem 30px 10rem;
  margin-bottom: 0;
}

.acc-stats {
  background: #2c3531;
  padding: 2rem;
  min-height: 15vh;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  /* position: absolute; */
  /* margin: 5px; */
}

.accstatsGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: "Sora";
  color: black;
  text-align: center;
}

.accstat-box {
  background-color: #66fcf1;
  color: #235c76;
  text-align: center;
  width: 50vw;
  margin: 0.5rem;
  font-weight: 800 !important;
  /* position: absolute; */
}

.accstat-box > h6 {
  margin-bottom: 0.5rem;
  font-size: 15px;
  color: #6c757d !important;
}

.accstat-box > h5 {
  /* margin-bottom: 0.5rem; */
  font-size: 15px;
  font-weight: 800;
}

#OS {
  width: 15rem;
  height: 15rem;
}

#WNFT {
  width: 15rem;
  height: 15rem;
}

.ourstory-logo {
  border-radius: 30px;
  max-width: 80% !important;
  max-height: 80% !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px !important;
}

.ourstory {
  text-align: center;
  color: #fff;
  background: #77c6c2;
  padding: 3rem;
}

.ourstory-name {
  font-size: 30px !important;
  padding-top: 20px;
  font-family: Sora !important;
  font-weight: 600 !important;
}

.rectangle5 {
  display: flex;
  width: 60px !important;
  height: 10px;
  color: #77c6c2;
  background-color: #235c76;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 20px !important;
}

.ourstory-describe {
  font-weight: 300;
  padding: 0 10rem 20px 10rem;
}

.nft {
  text-align: center;
  /* display: flex; */
  color: #fff;
  background: #116466;
  padding: 3rem;
}

.nft-logo {
  border-radius: 30px;
  max-width: 80% !important;
  max-height: 80% !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px !important;
}

.whynft-name {
  font-size: 30px !important;
  padding-top: 20px;
  font-family: Sora !important;
  font-weight: 600 !important;
}

.rectangle6 {
  display: flex;
  width: 60px !important;
  height: 10px;
  color: #116466;
  background-color: #77c6c2;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 20px !important;
}

.whynft-describe {
  font-weight: 300;
  padding: 0 10rem 20px 10rem;
}

.employee {
  text-align: center;
  /* display: flex; */
  color: #fff;
  background: #cb2d6f;
  padding: 2rem;
}

.employee-title {
  font-size: 20px !important;
  padding-bottom: 1rem;
  font-family: Sora !important;
  font-weight: 600 !important;
}

.emp-icon {
  width: 50%;
}

.employee-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto !important;
  width: 70%;
  margin: auto;
  padding-bottom: 10px;
}

/* #columntorow {
    display: flex;
  flex-direction: row;

} */

/* #emp-name {

} */
