@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
  background-color:#FFCB9A !important;
  height: 100vh;
  overflow: hidden;
  font-family: 'Sora';
}
.main-root{
  text-align: center;
}

.converter-container{
  width: 48rem !important;
  border-radius: 3rem;
  box-shadow: inset;
  padding: 3rem;
  justify-content: center !important;
  align-items: center !important;
  
}

.eth-pic{
  border-radius: 50%;
  width: 4rem;
  height: 3rem;
  margin:auto;
}

.eth-pic:hover{
  transform:scale(1.1)
}

.selectContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem;

}

.inputContainer{
  display: flex;
  justify-content: space-evenly;
  width: 44rem !important;
  height: 4.5rem;
  background-color: #F8AF04;
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
  text-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #000000;
  font-family: "Work Sans";
  font-size: 2.5rem;
  font-weight: 500;;
  line-height: 5rem;
}

.resultConverter1{
    display: flex;
    margin-top: auto !important;
    justify-content: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.resultConverter2{
    display: flex;
    margin: auto;
    justify-content: center !important;
}

label,.inputContainer{
  display: block;
  
}

input{
  width: 20vw !important;
  height: 3vh;
  font-size: 2rem;
}

label{
  text-align: left;
}

.basic-single1{
    width: 20vw !important ;
    height: 3vh;
    display: flex;
    /* margin: 2rem 2rem 1rem 1rem !important; */
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: left;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.25);
}

.basic-single2{
    width: 20vw !important ;
    height: 3vh;
    display: flex;
    /* margin: 2rem 2rem 1rem 1rem !important; */
    font-size: 2rem;
    line-height: 2rem;
    text-align: left;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.25);
}

