/* Group 623

position: absolute;
width: 64px;
height: 61px;
left: 41px;
top: 27px; */

/* Ellipse 59 */

/* position: absolute;
width: 64px;
height: 61px;
left: 41px;
top: 27px; */

/* background: #ffcb9a; */

/* land 1 */

/* position: absolute;
width: 46px;
height: 47px;
left: 50px;
top: 34px; */

/* background: url(land.png);
background-blend-mode: darken; */
