.statsPage {
  position: relative;
  background: #501f3a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statsPageLaptop {
  position: relative;
  background: #501f3a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.statsTitle {
  background-color: #14a098;
  width: 90% !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #14a098;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 1rem;
}

.statsTitleLaptop {
  background-color: #14a098;
  width: 80% !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #14a098;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin-bottom: 2rem;
}

.statsTitle > .row > h1 {
  color: black !important;
}

.statsTitleLaptop > .row > h1 {
  color: black !important;
  font-size: calc(40px + 2vmin) !important;
}

.statsTitleLaptop > .row > h2 {
  color: black !important;
  font-size: calc(13px + 2vmin) !important;
}

.statsTitle > .row > h2 {
  font-family: "Sora";
  font-size: calc(8px + 2vmin) !important;
}

.toggleStats {
  width: 90%;
}

.statsButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.statsButtonCol {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.statsButton {
  font-family: "Sora";
  background-color: transparent !important;
  border-color: transparent !important;
  font-size: calc(3.5px + 2vmin) !important;
  font-weight: 400 !important;
  text-align: center;
  overflow: auto;
}

.dropdown {
  display: flex;
  justify-content: flex-start;
}

#dropdown-basic {
  background-color: #66fcf1 !important;
  border-color: transparent !important;
  font-family: "Sora";
  font-weight: 600;
  font-size: calc(10px + 2vmin) !important;
  color: black;
}

.dropdown-menu {
  background-color: #66fcf1 !important;
  font-family: "Sora";
}

.statsPageTable {
  margin-top: 1rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0 !important; */
}

.statsPageTableLaptop {
  margin-top: 1rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0 !important; */
}

.statsTableRow {
  margin: 1rem;
  background-color: #cb2d6f !important;
  /* height: 12vh; */
  width: 100vw;
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 1rem;
  margin-right: 0;
  padding: 0.5rem;
}

.statsTableRowLaptop {
  margin: 1rem;
  background-color: #cb2d6f !important;
  /* height: 12vh; */
  width: 100vw;
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 1rem;
  margin-right: 0;
  padding: 1rem 1rem 1rem 1rem;
}

.statsTableText {
  display: flex;
  align-content: center;
  justify-content: center;
}

.statsTableTextLaptop {
  display: flex;
  align-content: center;
  justify-content: center;
}

#sNum {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem !important;
}

#statsNumRow > #sNum > h1 {
  font-family: "Sora";
  font-weight: 800;
  color: black !important;
  font-size: calc(15px + 2vmin) !important;
  text-align: center;
  margin: 0;
}

#sNumLaptop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

#statsNumRow > #sNumLaptop > h1 {
  font-family: "Sora";
  font-weight: 800;
  color: black !important;
  font-size: calc(8px + 2vmin) !important;
  text-align: center;
  margin: 0;
}

.statsRowImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statsRowImageLaptop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.statsTableImage {
  border-radius: 50%;
  width: 5rem;
}

.statsTableImageLaptop {
  border-radius: 50%;
  width: 5rem;
}

.statsRowName {
  font-family: "Sora";
  font-weight: 600;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: black !important;
  padding-left: 0.5rem;
}

.statsRowNameLaptop {
  font-family: "Sora";
  font-weight: 600;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: black !important;
  padding-left: 0.5rem;
}

.statsRowName > #statsName {
  justify-content: end;
  margin: 0;
  inline-size: 7rem;
  font-size: calc(8px + 2vmin) !important;
}

.statsRowNameLaptop > #statsNameLaptop {
  margin: 0;
  inline-size: 10rem;
  font-size: calc(3px + 2vmin) !important;
}

.statsRowName > #statsFloorPrice {
  text-align: justify;
  justify-content: end;
  margin: 0;
}

.statsRowName > Button {
  background-color: transparent !important;
  border-color: transparent !important;
  text-align: left;
  padding: 0;
  font-size: calc(7px + 2vmin) !important;
}

.statsRowName > Button:focus,
Button:hover {
  outline: 0 !important;
  box-shadow: none;
  background-color: transparent !important;
  border: none;
}

.rowStatsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  font-family: "Lato";
  margin-right: 0.5rem !important;
  font-size: calc(8px + 2vmin) !important;
}

.rowStatsPageLaptop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  font-family: "Lato";
  font-size: calc(3px + 2vmin) !important;
}

.rowStatsPageLaptop > p {
  margin: 0;
  font-weight: 600;
}

.rowStatsPage > p {
  margin: 0;
  font-weight: 700;
}

#total_volume {
  font-weight: 700;
  margin-top: 1rem;
}

.moreStatsRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.statsRowLine {
  height: 0px;
  border: 1px solid #642121;
  margin-top: 1rem !important;
}

.moreStats {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem !important;
  font-size: calc(7px + 2vmin) !important;
}

.moreStatsHeader {
  font-family: "Sora";
  font-weight: 700;
  color: black;
  margin: 0;
}

.moreStatsNum {
  font-family: "Lato";
  color: black;
  font-weight: 600;
  margin: 0.5rem;
}

.eth {
  margin-bottom: 0.3rem;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .row > * {
    padding: 0 !important;
  }
  .statsPageLaptop {
    display: none;
  }
}

@media (min-width: 425px) {
  .statsRowName > #statsName {
    inline-size: 12rem;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .statsRowName > #statsName {
    inline-size: 20rem !important;
  }
  .statsTableImage {
    width: 8rem;
  }

  .statsRowImage {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1024px) {
  /* big landscape tablets, laptops, and desktops */
  .statsPage {
    display: none;
  }
  .statsPageLaptop {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
